<a href="https://colab.research.google.com/github/Abhivarma-Birru-Unt/Abhivarma_INFO5731_Spring2023/blob/main/In_class_exercise_02_02072023_Abhivarma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [37]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
Here we are going to scrape the iphone XR reviews and their ratings from Flipkart Website.
We choose Flipkart because it allows scraping of the website, whereas amazon has strict scraping policies.

Here we scrape only the basic comment users have mentioned and the respective star rating they have given.
These allow user to easily check the reviews and allow them to decide whether or not to buy the iphone XR

We collect the reviews of around 120 pages to get atleast 1000 reviews which help in analysing the product to make it worth buying.

STEPS:
1. Choose the website to scrape, over her we choose flipkart and select iphone XR which have good number of reviews.
2. Next we go to the reviews section and check the no of reviews. Then select the device with atleast 1000 reviews.
3. Now inspect the page or go to view page source and select the class which hold the text or value which describe about the reviews of the product in precise way.
4. Using beautifulsoup, retrieve the review comment and the rating number from the respective class. 
5. Save these values in the form of a table in a dataframe with columns "Comment" and "Rating".
6. Print or Display the dataframe to get the respective reviews.




'''

'\nPlease write you answer here:\nHere we are going to scrape the iphone XR reviews and their ratings from Flipkart Website.\nWe choose Flipkart because it allows scraping of the website, whereas amazon has strict scraping policies.\n\nHere we scrape only the basic comment users have mentioned and the respective star rating they have given.\nThese allow user to easily check the reviews and allow them to decide whether or not to buy the iphone XR\n\nWe collect the reviews of around 120 pages to get atleast 1000 reviews which help in analysing the product to make it worth buying.\n\nSTEPS:\n1. Choose the website to scrape, over her we choose flipkart and select iphone XR which have good number of reviews.\n2. Next we go to the reviews section and check the no of reviews. Then select the device with atleast 1000 reviews.\n3. Now inspect the page or go to view page source and select the class which hold the text or value which describe about the reviews of the product in precise way.\n4. Using beautifulsoup, retrieve the review comment and the rating number from the respective class. \n5. Save these values in the form of a table in a dataframe with columns \n\n\n\n\n'

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [36]:
# You code here (Please add comments in the code):

import requests
from bs4 import BeautifulSoup
import pandas as pd
reviewTextHeading = [] # This list stores the generic main heading of the review
reviewRating =[] #List to comments of the reviews
for page in range(120):
  linkToAmazon = "https://www.flipkart.com/apple-iphone-xr-product-red-64-gb-includes-earpods-power-adapter/product-reviews/itmf9z7zhydhtbn5?pid=MOBF9Z7ZRWGTX3FA&lid=LSTMOBF9Z7ZRWGTX3FAWC8NB0&marketplace=FLIPKART"+ str(page) 
  specificPage = requests.get(linkToAmazon)
  soup = BeautifulSoup(specificPage.text,'html.parser')
  mainReviewOfProduct=soup.find_all(class_ = '_2-N8zT')
  reviewCommentOfProduct = soup.find_all(class_='_3LWZlK _1BLPMq')
  for mainReview, commentOfReview in zip(mainReviewOfProduct, reviewCommentOfProduct) : # Iterating through the list
      reviewTextHeading.append(mainReview.text) #Appending to empty list
      reviewRating.append(commentOfReview.text)

dataFrameOfRating = pd.DataFrame(list(zip(reviewTextHeading, reviewRating)),columns=["Comment","Rating"])
dataFrameOfRating

                  Comment Rating
0               Fabulous!      5
1     Best in the market!      5
2                Terrific      5
3               Fabulous!      5
4             Really Nice      4
...                   ...    ...
1195               Super!      5
1196              Awesome      5
1197               Super!      5
1198            Wonderful      4
1199            Must buy!      5

[1200 rows x 2 columns]

In [40]:
dataFrameOfRating.sort_values("Rating",ascending=False)

                 Comment Rating
0              Fabulous!      5
761  Best in the market!      5
743            Fabulous!      5
745               Super!      5
746              Awesome      5
..                   ...    ...
188            Wonderful      4
964          Really Nice      4
688            Wonderful      4
958            Wonderful      4
534          Really Nice      4

[1200 rows x 2 columns]

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [ ]:
# You code here (Please add comments in the code):

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [ ]:
# You code here (Please add comments in the code):