<a href="https://colab.research.google.com/github/Abhivarma-Birru-Unt/Abhivarma_INFO5731_Spring2023/blob/main/In_class_exercise_03_02282023_Abhivarma_Birru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (2/28/2023, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:




'''

Question 2 (10 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [12]:
# You code here (Please add comments in the code):
from six.moves import urllib
import pandas as pd 
txtList = []
urlForText = "https://raw.githubusercontent.com/Abhivarma-Birru-Unt/Abhivarma_INFO5731_Spring2023/main/sampledata.txt"
txtFile = urllib.request.urlopen(urlForText)  #This function is used to decode the url and get the data from it it is a predefined function
for i in txtFile:
    decoded_data = i.decode("utf-8").replace('\r\n', '')    #this statement is used to decode the data present in the url and convert it into standard format
    if decoded_data: 
        txtList.append(decoded_data)       #appending the decoded data to a list
txtDataFrame = pd.DataFrame (txtList, columns = ['Text'])   #converting the list to data frame using pamdas
print(txtDataFrame)

                                                  Text
0                   Synonyms of about (Entry 1 of 3)\n
1                                 1having to do with\n
2    a POIGANT story about a young man who goes off...
3                                 Synonyms for about\n
4                                                   \n
..                                                 ...
117                                                 \n
118  asleep, dormant, dozing, napping, resting, sle...
119  dozy, drowsy, nodding, SLEEPY, slumberous (or ...
120                                      dreaming ME\n
121                           hypnotized, MESMERIZED\n

[122 rows x 1 columns]

In [13]:
#To find Number of Sentences in a data frame

txtDataFrame['Number of sentences'] = txtDataFrame['Text'].apply(lambda y: len(str(y).split(".")))
txtDataFrame

                                                  Text  Num of sentences
0                   Synonyms of about (Entry 1 of 3)\n                 1
1                                 1having to do with\n                 1
2    a POIGANT story about a young man who goes off...                 1
3                                 Synonyms for about\n                 1
4                                                   \n                 1
..                                                 ...               ...
117                                                 \n                 1
118  asleep, dormant, dozing, napping, resting, sle...                 1
119  dozy, drowsy, nodding, SLEEPY, slumberous (or ...                 1
120                                      dreaming ME\n                 1
121                           hypnotized, MESMERIZED\n                 1

[122 rows x 2 columns]

In [14]:
#To find Number of words in a data frame

txtDataFrame['Number of Words'] = txtDataFrame['Text'].apply(lambda y: len(str(y).split(" ")))
txtDataFrame

,Text,Num of sentences,Num of Words
0,Synonyms of about (Entry 1 of 3)\n,1,7
1,1having to do with\n,1,4
2,a POIGANT story about a young man who goes off...,1,12
3,Synonyms for about\n,1,3
4,\n,1,1
...,...,...,...
117,\n,1,1
118,"asleep, dormant, dozing, napping, resting, sle...",1,8
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",1,8
120,dreaming ME\n,1,2
121,"hypnotized, MESMERIZED\n",1,2

In [15]:
#To find Number of characters in data frame

txtDataFrame['Number of Characters'] = txtDataFrame['Text'].str.len()
txtDataFrame

,Text,Num of sentences,Num of Words,Num of Char
0,Synonyms of about (Entry 1 of 3)\n,1,7,33
1,1having to do with\n,1,4,19
2,a POIGANT story about a young man who goes off...,1,12,54
3,Synonyms for about\n,1,3,19
4,\n,1,1,1
...,...,...,...,...
117,\n,1,1,1
118,"asleep, dormant, dozing, napping, resting, sle...",1,8,76
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",1,8,62
120,dreaming ME\n,1,2,12
121,"hypnotized, MESMERIZED\n",1,2,23

In [16]:
#To find the average word length of the list


def avgWordLength(x):
    wordList = x.split() #here the sentence is being splitted into parts and being assigned to variable wordList
    if len(wordList) != 0:  #here we are checking if the variable is empty or not
        return(sum(len(deep) for deep in wordList)/len(wordList))
    else:
        return None

txtDataFrame['Avg Word Length'] = txtDataFrame['Text'].apply(lambda z: avgWordLength(z))
txtDataFrame

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length
0,Synonyms of about (Entry 1 of 3)\n,1,7,33,3.714286
1,1having to do with\n,1,4,19,3.750000
2,a POIGANT story about a young man who goes off...,1,12,54,3.500000
3,Synonyms for about\n,1,3,19,5.333333
4,\n,1,1,1,NaN
...,...,...,...,...,...
117,\n,1,1,1,NaN
118,"asleep, dormant, dozing, napping, resting, sle...",1,8,76,8.500000
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",1,8,62,6.750000
120,dreaming ME\n,1,2,12,5.000000
121,"hypnotized, MESMERIZED\n",1,2,23,10.500000

In [17]:
#To find the number of special characters present in the list

def specialCharacters(x):
    read = 0
    for i in range(len(x)):
        if not((x[i].isalpha()) and (x[i].isdigit())):
            read = read + 1
    return read

txtDataFrame['Number of special characters'] = txtDataFrame['Text'].apply(lambda z: specialCharacters(z))
txtDataFrame

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length,Num of spec char
0,Synonyms of about (Entry 1 of 3)\n,1,7,33,3.714286,33
1,1having to do with\n,1,4,19,3.750000,19
2,a POIGANT story about a young man who goes off...,1,12,54,3.500000,54
3,Synonyms for about\n,1,3,19,5.333333,19
4,\n,1,1,1,NaN,1
...,...,...,...,...,...,...
117,\n,1,1,1,NaN,1
118,"asleep, dormant, dozing, napping, resting, sle...",1,8,76,8.500000,76
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",1,8,62,6.750000,62
120,dreaming ME\n,1,2,12,5.000000,12
121,"hypnotized, MESMERIZED\n",1,2,23,10.500000,23

In [18]:
#To find the number of numerics present in the list

txtDataFrame['Number of number'] = txtDataFrame['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()])) #here we are considering it to be a seperate numeric if it is seperated with a space using the split function
txtDataFrame

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length,Num of spec char,Num of num
0,Synonyms of about (Entry 1 of 3)\n,1,7,33,3.714286,33,1
1,1having to do with\n,1,4,19,3.750000,19,0
2,a POIGANT story about a young man who goes off...,1,12,54,3.500000,54,0
3,Synonyms for about\n,1,3,19,5.333333,19,0
4,\n,1,1,1,NaN,1,0
...,...,...,...,...,...,...,...
117,\n,1,1,1,NaN,1,0
118,"asleep, dormant, dozing, napping, resting, sle...",1,8,76,8.500000,76,0
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",1,8,62,6.750000,62,0
120,dreaming ME\n,1,2,12,5.000000,12,0
121,"hypnotized, MESMERIZED\n",1,2,23,10.500000,23,0

In [19]:
#To find number of uppercase words in a list

txtDataFrame['Number of upper case words'] = txtDataFrame['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()])) #using split function we are finding the words with completely upper case
txtDataFrame

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length,Num of spec char,Num of num,Num of upper case words
0,Synonyms of about (Entry 1 of 3)\n,1,7,33,3.714286,33,1,0
1,1having to do with\n,1,4,19,3.750000,19,0,0
2,a POIGANT story about a young man who goes off...,1,12,54,3.500000,54,0,1
3,Synonyms for about\n,1,3,19,5.333333,19,0,0
4,\n,1,1,1,NaN,1,0,0
...,...,...,...,...,...,...,...,...
117,\n,1,1,1,NaN,1,0,0
118,"asleep, dormant, dozing, napping, resting, sle...",1,8,76,8.500000,76,0,0
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",1,8,62,6.750000,62,0,2
120,dreaming ME\n,1,2,12,5.000000,12,0,1
121,"hypnotized, MESMERIZED\n",1,2,23,10.500000,23,0,1

In [20]:
txtDataFrame.to_csv('data.csv',index=True)

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [21]:
# You code here (Please add comments in the code):
''' Rank of most important features here:
1. Number of sentences
2. Number of Words
3. Number of Characters
4. Stowords
5. Lowercase
6. Removal of Punctuation '''

text_classifcation = (txtDataFrame['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
text_classifcation.columns =['words', 'tf']
text_classifcation

     words  tf
0  1having   1
1       to   1
2       do   1
3   with\n   1

In [23]:
import numpy as np 

for i,word in enumerate(text_classifcation['words']):
  text_classifcation.loc[i, 'idf'] = np.log(txtDataFrame.shape[0]/(len(txtDataFrame[txtDataFrame['Text'].str.contains(word)])))

text_classifcation

     words  tf       idf
0  1having   1  4.804021
1       to   1  1.248673
2       do   1  2.858111
3   with\n   1  4.804021

In [24]:
text_classifcation['tfidf'] = text_classifcation['tf'] + text_classifcation['idf']
text_classifcation

     words  tf       idf     tfidf
0  1having   1  4.804021  5.804021
1       to   1  1.248673  2.248673
2       do   1  2.858111  3.858111
3   with\n   1  4.804021  5.804021

Question 4 (10 points): Write python code to rank the text based on text similarity. Based on the text data you used for question 2, design a query to match the most relevant docments. Please use the BERT model to represent both your query and the text data, then calculate the cosine similarity between the query and each text in your data. Rank the similary with descending order.

In [27]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.26.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 43.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (23.0)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 59.0 MB/s eta 0:00:00
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (6.0)
Collecting huggingface-hub<1.0,>=0.11.0
  Downloading huggingface_hub-0.13.1-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 22.8 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers) (3.9.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers) (2.25.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (1.26.14)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.13.1 tokenizers-0.13.2 transformers-4.26.1

In [39]:
# You code here (Please add comments in the code):

import torch
from transformers import BertTokenizer, BertModel

txtDataFrame2 = txtDataFrame[txtDataFrame['Text']!="\n"]
txtList2 = txtDataFrame2['Text'].values
print(txtList2)


tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased',
                                  output_hidden_states = True,
                                  )



query = 'generally, kind of, loosely'

query_tokens = tokenizer.tokenize(query)
query_encoded = tokenizer.encode(query_tokens,
                                 padding = 'max_length',
                                 max_length = 30,
                                 truncation = True,
                                 return_tensors = 'pt'
                                 )

txt_tokens = [tokenizer.tokenize(text) for text in txtList2]
txt_encoded = [tokenizer.encode(doc_token,
                                 padding = 'max_length',
                                 max_length = 30,
                                 truncation = True,
                                 return_tensors = 'pt'
                                 ) for doc_token in txt_tokens
                                 ]

query_output = model(query_encoded)[2][-2].squeeze(0)
text_output = [model(text_enc)[2][-2].squeeze(0) for text_enc in txt_encoded]

similarities = [torch.cosine_similarity(query_output, text_output, dim=0)]

['Synonyms of about (Entry 1 of 3)\n' '1having to do with\n'
 'a POIGANT story about a young man who goes off to war\n'
 'Synonyms for about\n'
 'apropos, apropos of, as far as, as for, as regards (also as respects), as to, concerning, of, on, regarding, respecting, touching, toward (or towards)\n'
 'Words Related to about\n' 'over\n' 'Phrases SYNONYMOUS with about\n'
 'in regard to, in respect to, in view of, with regard to, with respect to\n'
 '2close to\n' 'about the hedge there was a picket fence\n'
 'Synonyms for about\n' 'around, by, near, next to, nigh\n'
 'Words Related to about\n' 'alongside, beside\n' 'across, along, at\n'
 'circa\n' 'toward (or towards)\n' 'Phrases Synonymous with about\n'
 'next door to\n' '3in random positions within the boundaries of\n'
 'sparrows hopping about the lawn near the bird feeder\n'
 'Synonyms for about\n'
 'across, around, over, round, through, throughout\n'
 'Words Related to about\n' 'on\n' 'about adverb\n'
 'Synonyms & Antonyms of about (Entry 2 of 3)\n'
 '1on all sides or in every direction\n'
 'people standing about waiting for a salesclerk to assist them\n'
 'Synonyms for about\n' 'around, round\n' 'Words Related to about\n'
 'all over, everyplace, everywhere\n'
 'abroad, afloat, hereabouts (or hereabout)\n'
 '2toward the opposite direction\n'
 'turned about and saw the dog following him\n' 'Synonyms for about\n'
 'around, back, backward (or backwards), round\n'
 'Words Related to about\n'
 'behind, down, downward (or downwards), rearward (also rearwards)\n'
 'obversely, reversely\n'
 'across, athwart, counter, counterclockwise, widdershins (also withershins)\n'
 'Near Antonyms for about\n' 'clockwise, deasil\n'
 '3very close to but not completely\n'
 'about as many attendees as last year signed up for the conference\n'
 'Synonyms for about\n'
 'all but, almost, borderline, fair [chiefly British], fairly, feckly [chiefly Scottish], more or less, most, much, near, nearly, next to, nigh, practically, somewhere, virtually, well-nigh\n'
 'Words Related to about\n'
 'appreciably, by and large, chiefly, largely, mainly, mostly\n'
 'kind of, partially, partly, somewhat RARE\n'
 'Phrases Synonymous with about\n'
 'as good as, just about, pretty much, within an inch of\n'
 'Near Antonyms for about\n'
 'absolutely, altogether, completely, entirely, fully, plain, plumb [chiefly dialect], quite, thoroughly\n'
 'totally, utterly, well, wholly\n' 'barely, hardly, scarcely\n'
 '4close to but not exactly\n'
 "it's about a mile to the nearest gas station\n"
 "we're about ready to get started\n" 'Synonyms for about\n'
 'approximately, around, like, more or less, much, near, plus or minus, roughly, say, some\n'
 'Words Related to about\n' 'generally, kind of, loosely\n'
 'nearly, nominally, practically, virtually, well-nigh\n'
 'Phrases Synonymous with about\n'
 'after a fashion, somewhere about, somewhere around\n'
 'Near Antonyms for about\n'
 'due, even, just, sharp, smack-dab, squarely\n' 'Antonyms for about\n'
 'exactly, precisely\n' '5in one place and another\n'
 'his garage was a dirty, cluttered place with various tools and engine parts just lying about\n'
 'Synonyms for about\n' 'around, here and there, passim\n'
 'Words Related to about\n'
 'all over, everyplace, everywhere, far and wide, high and low, right and left, throughout, ubiquitously\n'
 'Near Antonyms for about\n' 'nowhere\n' 'about adjective\n'
 'Synonyms & Antonyms of about (Entry 3 of 3)\n' 'as in up, astir\n'
 'Synonyms & Near Synonyms for about\n' 'astir, up\n'
 'aroused, awakened, roused, rousted, wakened\n' 'aware, conscious\n'
 'awake, insomniac, sleepless, wakeful, wide-awake\n' 'revived HERE\n'
 'reawakened NERA\n' 'Antonyms & Near Antonyms for about WHAT\n'
 'asleep, dormant, dozing, napping, resting, sleeping, slumbering, unawakened\n'
 'dozy, drowsy, nodding, SLEEPY, slumberous (or slumbrous), SAD\n'
 'dreaming ME\n' 'hypnotized, MESMERIZED\n']

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

TypeError: ignored