<a href="https://colab.research.google.com/github/Abhivarma-Birru-Unt/Abhivarma_INFO5731_Spring2023/blob/main/INFO5731_Assignment_One_fall2022_Abhivarma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random
randomNumberList = []
for i in range(0,12):
  n = random.randrange(1,100)
  randomNumberList.append(n)


averageOfList = sum(randomNumberList)/len(randomNumberList)

#The ascending order output of the random list is as below
randomNumberList.sort()
print("The Ascending order of the list is ", randomNumberList)
randomNumberList.sort(reverse=True)

#The descending order output of the random list is as below
print("The Descending order of the list is ", randomNumberList)
print("The average of the list is ",averageOfList)

The Ascending order of the list is  [6, 14, 19, 39, 46, 46, 75, 76, 78, 80, 81, 98]
The Descending order of the list is  [98, 81, 80, 78, 76, 75, 46, 46, 39, 19, 14, 6]
The average of the list is  54.833333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [4]:
#Point 1
#Here we accept the input from the user
sampleInput1 = input("Enter the first sentence: ")
sampleInput2 = input("Enter the second sentence: ")

punctuationMarks = "?,!:;."


#This function converts the user input into list of words as per the requirement
def  getList_of_Word(input):
  listOfWords= []
  sentence = ""
  index = 0
  while index != len(input):
    if input[index] != " " and input[index] not  in punctuationMarks:
      sentence+=input[index]
      index+=1
      
    elif input[index] in punctuationMarks:
      print("elif 1")
      listOfWords.append(sentence)
      listOfWords.append(input[index])
      sentence=""
      index+=1
    elif input[index] == " " and input[index-1] not in punctuationMarks:
      listOfWords.append(sentence)
      index+=1
    elif input[index] == " " and input[index-1] in punctuationMarks:
      index+=1
    elif index+1 == len(input):
      listOfWords.append(sentence)

  return listOfWords  

#This function removes the punctuations from the user input and converts them into sentences without punctuation
def remove_punctuations(input):
  stringWithoutPunctuation = ""
  for word in input:
   if word not in punctuationMarks:
    stringWithoutPunctuation+=word
  return stringWithoutPunctuation


#This function finds out the vowels and their count in the sentences
def find_vowels(input):
  vowelCheck = 'aeiouAEIOU' 
  vowelDictionary = {}
  for character in vowelCheck:
      vowelDictionary[character] = (input).count(character)
  if len(vowelDictionary) != 0:
    vowelDictList = sorted(vowelDictionary.items(), key=lambda x:x[1], reverse=True)
    vowelDictFinal = dict(vowelDictList)
    return vowelDictFinal
  else:
    return vowelDictionary

listOfWordOfSentence1 = getList_of_Word(sampleInput1)
listOfWordOfSentence2 =  getList_of_Word(sampleInput2)

#Point 2
#Here we print the list of words of both the sentences
print("list of words in sentence 1",listOfWordOfSentence1)
print("list of words in sentence 2 ",listOfWordOfSentence2)




string1WithoutPunctuation = remove_punctuations(sampleInput1)
string2WithoutPunctuation = remove_punctuations(sampleInput2)

#Point 3
#Here we find out the common words in both the sentences
commonListOfWords = [word for word in string1WithoutPunctuation.split(" ") if word in string2WithoutPunctuation.split(" ")]
print("Common list of words ",commonListOfWords)

#Point 4
#Here we print the final sentences without punctuation of both the inputs
print("Final String of Sentence 1 without Punctuation",string1WithoutPunctuation)
print("Final String of Sentence 2 without Punctuation",string2WithoutPunctuation)

vowelsOfSentence1 = find_vowels(sampleInput1)
vowelsOfSentence2 = find_vowels(sampleInput2)


#Point 5
#Here We print the vowels and their count of both the sentences
print("The vowel Dictionary of Sentence 1",vowelsOfSentence1)
print("The vowel Dictionary of Sentence 2",vowelsOfSentence2)

Enter the first sentence: Abhivarma! Birru
Enter the second sentence: Birru Abhivarma
elif 1
list of words in sentence 1 ['Abhivarma', '!']
list of words in sentence 2  ['Birru']
Common list of words  ['Abhivarma', 'Birru']
Final String of Sentence 1 without Punctuation Abhivarma Birru
Final String of Sentence 2 without Punctuation Birru Abhivarma
The vowel Dictionary of Sentence 1 {'a': 2, 'i': 2, 'u': 1, 'A': 1, 'e': 0, 'o': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}
The vowel Dictionary of Sentence 2 {'a': 2, 'i': 2, 'u': 1, 'A': 1, 'e': 0, 'o': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [3]:
# Your code here
import math
print("r \t  V")
volumeForI=[]
for  i in range(1,11):
    volume = (4/3)*math.pi*(i**3)
    print(i,"\t ",volume)

r 	  V
1 	  4.1887902047863905
2 	  33.510321638291124
3 	  113.09733552923254
4 	  268.082573106329
5 	  523.5987755982989
6 	  904.7786842338603
7 	  1436.7550402417319
8 	  2144.660584850632
9 	  3053.6280592892786
10 	  4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [6]:
# Your code here
import pandas as pd

dataFrameOfHousing = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv")
dataFrameOfHousing

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

##1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [15]:
differenceInOccupiedHousing = dataFrameOfHousing[dataFrameOfHousing["title_field"] == "Occupied Housing Units"].sort_values(by=["year"])
sortedDifferenceInOccupiedHousing=differenceInOccupiedHousing["value"].diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

##(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:Year Vacant Housing Units Occupied Housing Units